* {
    margin: 0;
    padding: 0;
}
body{
    width: 1280px;
    margin: 10%;
    z-index: -1;
    background-color: #231D29;
}
section{
    background-color: white;

}
h1{
    font-size: 40px;
    color: black;
    text-align: center;
}
h2{
    margin: 20px;
    font: size  30px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    margin: 15px 15px 15px 15px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    margin: 20px auto;
    
}
td{
    border: white solid 20px;
    background-color: rgba(229, 210, 255, 0.178);
    padding: 50px;

}
#title{
    color: black;
    font-size: 50px;
    background-color: white;
    width: fit-content;
    padding: 30px;
}
hr{
    border: white 5px solid;
    z-index: 0;
}
#section-heading{
    font-size: 30px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: hsla(147, 50%, 30% , 50);
    width: fit-content;
    padding: 0  20px;
}
p{
    font-weight: 100;
    font-size: 12px;
    font-family: "Kaushan Script";
}

/*classes colors*/
.pallate-1{
    display: inline-block;
    margin-top: 0 auto 0 auto;
}
.pallate-2{
    display: inline-block;
    margin: 0 auto 30px auto;
}
.pallate-3{
    display: inline-block;
    margin: 0 auto 0 auto;
}
.pallate-4{
    display: inline-block;
    margin: 0 auto 30px auto;
}
.color{
    text-align: center;
}



/*colors*/
#color1{
    background-color: #E59F57;
    padding: 2%;
}
#color2{
    background-color: #98DA7A;
    padding: 2%;
}
#color3{
    background-color:#363028;
    padding: 2%;
}
#color4{
    background-color:#83100D;
    padding: 2%;
}
#color5{
    background-color:#9E0801;
    padding: 2%;
}
#color6{
    background-color: #EEE37A;
    padding: 2%;
}
#color7{
    background-color: #E2B2A4;
    padding: 2%;
}
#color8{
    background-color: #D795B2;
    padding: 2%;
}
#color9{
    background-color:#CB688B;
    padding: 2%;
}
#color10{
    background-color:#6E739D;
    padding: 2%;
}
#color11{
    background-color: #231D29;
    padding: 2%;
}
#color12{
    background-color: #48404B;
    padding: 2%;
}
#color13{
    background-color: #574994;
    padding: 2%;
}
#color14{
    background-color:#2E3772;
    padding: 2%;
}
#color15{
    background-color:#86ACEA;
    padding: 2%;
}
#color16{
    background-color: #D7EC37;
    padding: 2%;
}
#color17{
    background-color: #B0B559;
    padding: 2%;
}
#color18{
    background-color: #828B22;
    padding: 2%;
}
#color19{
    background-color:#626E18;
    padding: 2%;
}
#color20{
    background-color:#554E22;
    padding: 2%;
}

